@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #1bd96a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-vt323);
  --color-brand: var(--brand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-heading {
  font-family: var(--font-vt323), sans-serif;
}
